body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F8F4F1;
}


header {
 /* position: sticky;*/
  overflow: hidden;
  top: 0;
  left: 0;
  height: 50px; /* définissez la hauteur de votre navbar */
  background-color: #C28D74;
  color: #000000; /* définissez la couleur de texte pour votre navbar */
  padding: 0 20px; /* ajoute un espace intérieur pour les éléments à gauche et à droite */
  z-index: 999; /* assurez-vous que la navbar s'affiche par-dessus tout le contenu */
}
.nav{
  width: 80%;
}

.navbar-left, .navbar-right {
  width: 50%;
  float: left; /* flotte les deux éléments à gauche */
  box-sizing: border-box; /* inclut la bordure et le padding dans la largeur */
  padding: 10px;
}


.navbar-right button {
  margin-right: 10px; /* ajoute un espace entre chaque bouton */
  padding: 10px 10px; /* ajoute de l'espace autour du texte des boutons */
  border: none; /* supprime les bordures des boutons */
  color: #000000; /* définissez la couleur de texte pour les boutons */
  cursor: pointer; /* change le curseur en pointeur lorsque vous survolez les boutons */
}

.navbar-right button:hover {
  color: #a5732c;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto
}

.textBio{
margin: 5%;
}

img {
  float: left;
  margin-right: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #333;
}

h2 {
  margin-top: 0;
}

h3, p {
  margin-bottom: 5px;
  margin-top: 5px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 10px;
  margin-left: 4%;
  list-style-image: url(img/book-solid.svg);
}

li::marker {
  font-size: 40px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.dark-gray {
  background-color: #C28D74;
  min-height: 100px;
  padding-left: 20px;
  padding-top: 20px;
}
.light-gray {
  min-height: 100px;
  padding-left: 20px;
  padding-top: 20px;
}